* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

button {
  padding: 5px 10px;
  outline: none;
  border: 1px solid red;
  box-shadow: 0px 0px 1px red;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(53, 52, 52) 61%,
    rgb(63, 63, 85) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 61%,
    rgb(82, 82, 84) 100%,
    rgb(36, 80, 88) 100%
  );
  color: aliceblue;
  box-shadow: 1px 1px 3px rgb(224, 134, 134);
  margin-bottom: 70px;
  .i {
    font-size: 3rem;
    color: orange;
  }
  .header-div {
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 20px;
    .head-text {
      h1 {
        font-family: Kode Mono;
      }
    }
    .cercle {
      width: 50px;
      height: 50px;
      background-image: url(../img/zacharie-image.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 100%;
    }
  }

  position: sticky;
  top: 0;
}

main {
  position: static;
  display: flex;
  justify-content: center;
  article {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .article-1,
    .article-2,
    .article-3,
    .article-4,
    .article-5,
    .article-6,
    .article-7,
    .article-8,
    .article-9,
    .article-10 {
      background-color: rgb(255, 223, 163);
      border: 3px inset rgb(108, 18, 18);

      .img {
        max-width: 100%;
        height: 200px;
        cursor: pointer;
      }

      .details {
        padding: 10px;
        ul {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px inset rgb(235, 190, 107);
          box-shadow: 1px 1px 1px rgb(244, 207, 140);
        }
        .movie-director {
          margin: 10px 0;
        }
        .movie-cast {
          margin-bottom: 10px;
        }

        &-tag {
          background-color: rgb(255, 223, 163, 0.9);
          // filter: opacity(90%);
          padding: 15px;
          border-top-right-radius: 35px;
          border-top-left-radius: 35px;
          height: 224px;
          .type {
            font-size: 10px;
            padding: 5px;
            border: 1px dotted white;
            cursor: pointer;

            animation: change 5s infinite;
            animation-delay: 2s;
            @keyframes change {
              from {
                color: red;
                background-color: #333;
              }
              to {
                background-color: white;
                color: black;
              }
            }
          }
        }
      }
    }

    .article-1 {
      background-image: url(../img/movie1.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .article-2 {
      background-image: url(../img/movie2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .article-3 {
      background-image: url(../img/movie3.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .article-4 {
      background-image: url(../img/movie4.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .article-5 {
      background-image: url(../img/movie5.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .article-6 {
      background-image: url(../img/movie6.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .article-7 {
      background-image: url(../img/movie7.webp);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .article-8 {
      background-image: url(../img/movie8.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .article-9 {
      background-image: url(../img/movie9.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .article-10 {
      background-image: url(../img/movie10.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

footer {
  height: 30px;
  width: 100%;
  margin-top: 100px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 61%,
    rgb(82, 82, 84) 100%,
    rgb(36, 80, 88) 100%
  );
  color: aliceblue;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  p {
    position: relative;
    animation: move 50s infinite;
    @keyframes move {
      from {
        left: 0px;
      }

      to {
        left: 80%;
        color: #333;
      }
    }
  }
}

/************ RESPONSIVENESS *************/

@media (max-width: 900px) {
  main {
    article {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 700px) {
  main {
    article {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
